<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shoppee</title>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>
<body class="bg-neutral-content">
    <header>
        @await Component.InvokeAsync("Navbar")
    </header>

    <main class="container mx-auto px-4 py-8">
        @RenderBody()
    </main>

    <!-- The Footer Component -->
    @await Component.InvokeAsync("Footer")

    <!-- HTMX -->
    <script src="~/js/htmx.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
